<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jw.mapper.MakeupExamMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.jw.entity.MakeupExam">
                    <id column="id" property="id"/>
                    <result column="exam_id" property="examId"/>
                    <result column="classes" property="classes"/>
                    <result column="student_id" property="studentId"/>
                    <result column="req" property="req"/>
                    <result column="s_time" property="sTime"/>
                    <result column="e_time" property="eTime"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, exam_id, classes, student_id, req, s_time, e_time
        </sql>

</mapper>