<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jw.mapper.FileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jw.entity.File">
        <id column="fid" property="fid"/>
        <result column="filename" property="filename"/>
        <result column="filesha1" property="filesha1"/>
        <result column="fileaddr" property="fileaddr"/>
        <result column="filesize" property="filesize"/>
        <result column="uploader" property="uploader"/>
        <result column="createtime" property="createtime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
           fid,filename,filesha1,fileaddr,filesize,uploader,createtime
        </sql>

</mapper>